.breadcrumb {
    background:$clr-primary-10;
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: center;
  
    color:$clr-primary-1;
    a {
      color:$clr-primary-3;
      padding: 0.5rem;
      transition:$transition;
    }
    a:hover {
      color:$clr-primary-1;
    }
}