.header {
  height: 5rem;
  position: sticky;
  top: 0;
  background-color: $clr-white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .nav-center {
    width: 90vw;
    margin: 0 auto;
    max-width: $max-width;
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 175px;
      margin-left: -15px;
    }
  }
  .nav-toggle {
    background: transparent;
    border: transparent;
    color: $clr-primary-5;
    cursor: pointer;
    svg {
      font-size: 2rem;
    }
  }
  .nav-links {
    display: none;
  }
  .cart-btn-wrapper {
    display: none;
  }
  @media (min-width: 992px) {
    .nav-toggle {
      display: none;
    }
    .nav-center {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
    }
    .nav-links {
      display: flex;
      justify-content: center;
      li {
        margin: 0 0.5rem;
      }
      a {
        color: $clr-grey-3;
        font-size: 1rem;
        text-transform: capitalize;
        letter-spacing: $spacing;
        padding: 0.5rem;
        &:hover, &.active {
          border-bottom: 2px solid $clr-primary-7;
        }
      }
    }
    .cart-btn-wrapper {
      display: grid;
    }
  }
}
