input.color-btn {
  width: 0;
    height: 0;
    position: absolute;
  & + label {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #222;
    margin-left: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      font-size: 0.5rem;
      color: $clr-white;
    }
  }

  &:checked {
    & + label {
      opacity: 1;
    }
  }
}
