.products-list {
  img {
    height: 175px;
  }

  .products-container {
    &.grid-view {
      display: grid;
      gap: 2rem 1.5rem;

      .details {
          display: none;
      }

      @media (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 1170px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &.list-view {
      display: grid;
      row-gap: 3rem;

      .container {
          margin-bottom: 1rem;
      }

      footer {
          display: none;
      }

      img {
        width: 100%;
        display: block;
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: $radius;
      }
      h4 {
        margin-bottom: 0.5rem;
      }
      .price {
        color: $clr-primary-6;
        margin-bottom: 0.75rem;
      }
      p {
        max-width: 45em;
        margin-bottom: 1rem;
      }
      .btn {
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
      }
      @media (min-width: 992px) {
        article {
          display: grid;
          grid-template-columns: auto 1fr;
          column-gap: 2rem;
          align-items: center;
        }
      }
    }
  }
}
