.cart-page {
  .empty {
    text-align: center;
    h2 {
      margin-bottom: 1rem;
      text-transform: none;
    }
  }

  .link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .link-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
    background: $clr-primary-5;
    color: $clr-white;
    border-radius: $radius;
    letter-spacing: $spacing;
    font-weight: 400;
    cursor: pointer;
  }
  .clear-btn {
    background: $clr-black;
  }
}
